<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color Code Test</title>
  <style>
    .color-coded {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <span class="color-coded" style="color:green">110.5k</span>
  <br />
  <span class="color-coded" style="color:seagreen">110.5k</span>
  <br />
  <span class="color-coded" style="color:olivedrab">110.5k</span>
  <br />
  <span class="color-coded" style="color:olive">110.5k</span>
  <br />
  <span class="color-coded" style="color:darkgoldenrod">110.5k</span>
  <br />
  <span class="color-coded" style="color:darkgoldenrod">110.5k</span>
  <br />
  <span class="color-coded" style="color:darksalmon">110.5k</span> <!-- sienna -->
  <br />
  <span class="color-coded" style="color:salmon">110.5k</span><!-- indianred -->
  <br />
  <span class="color-coded" style="color:tomato">110.5k</span>
  <br />
  <span class="color-coded" style="color:orangered">110.5k</span>
</body>
</html>